%h2
  アカウント情報の変更
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
    = f.label :password, "新規パスワード"
    %i (パスワードを変更しない場合は空にしてください)
    %br/
    = f.password_field :password
  %p
    = f.label :password_confirmation, "新規パスワード（再入力）"
    %br/
    = f.password_field :password_confirmation
  %p
    = f.label :current_password
    %i (現在のパスワードを入力してください)
    %br/
    = f.password_field :current_password
  %button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png")
    更新
  = link_to 'キャンセル', edit_path
