%h1
  = link_to 'Troch', :root
.block#block-signup
  %h2 新規登録
  .content
    .flash
      - flash.each do |type, message|
        %div{ :class => "message #{type}" }
          %p= message
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form" }) do |f|
      .group
        = f.label :email, :class => "label"
        = f.text_field :email, :class => "text_field"
      .group
        = f.label :password, :class => "label"
        = f.password_field :password, :class => "text_field"
        %span.description 6文字以上
      .group
        = f.label :password_confirmation, :class => "label"
        = f.password_field :password_confirmation, :class => "text_field"
      .group.wat-cf
        %button.button{ :type => "submit" }
          = image_tag "devise/icons/tick.png"
          新規登録
    = render :partial => "devise/shared/links"
