%h2
  = @group.name
%br
%h3
  サイト一覧
%ul
  - @group.sites.each do |site|
    %li
      = link_to site.name, site_path(site)
%br

.wat-cf
  = link_to image_tag("devise/icons/application_edit.png") + " 編集", edit_group_path(@group), :class => "button"
  = link_to image_tag("devise/icons/cross.png") + " 削除", group_path(@group), :method => "delete", :class => "button", :confirm => "削除してよろしいですか？"
%br
= link_to '戻る', sites_path
