.block
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Watch Interval
    .inner
      = form_tag do
        - [15, 30, 60].each do |interval|
          = radio_button_tag 'interval', interval, (@cron_interval.to_i).eql?(interval)
          = label_tag "#{interval} min"
        = radio_button_tag 'interval', 99999, @cron_interval.to_i.eql?(99999)
        = label_tag 'None'
        = submit_tag
