.block
  .content
    %h2.title
      サイト監視の起動/停止
    .inner
      .flash
        - unless @save_message.blank?
          %div{ :class => "message notice" }
            = @save_message
      %br
      = form_tag do
        = radio_button_tag :on_off, true, @cron_on
        = label_tag "ON(監視)"
        = radio_button_tag :on_off, false, !@cron_on
        = label_tag 'OFF(メンテナンス)'
        = submit_tag '設定保存'
      %br
      = link_to "戻る", :back
