.block
  .content
    %h2.title ユーザ情報
    %br
    ・
    = link_to 'アカウント情報の変更', {:controller=>"devise/registrations", :action=>"edit"}
    %br
    %br
    .inner
      = form_for @user, :url => { :action => "update" } do |f|
        ・サマリー通知
        %br
        = f.radio_button :summary, true
        有り
        = f.radio_button :summary, false
        無し
        %br
        %br
        ・監視サイト
        .sites_list
          - @groups.each do |group|
            .parent
              %h3
                %input.check-parent{:type => "checkbox"}>/
                = group.name
              %ul
                - group.sites.each do |site|
                  %li
                    = check_box_tag("user[site_ids][]", site.id, @user.sites.include?(site), :class => 'check-child')
                    = site.name
          - @nogroup_sites.each do |site|
            = check_box_tag("user[site_ids][]", site.id, @user.sites.include?(site))
            = site.name
            %br
          = f.hidden_field :email, :value => @user.email
          %br

        .wat-cf
          %button{:type => "submit"}
            = image_tag("web-app-theme/icons/tick.png")
            保存
          = link_to 'キャンセル', :back


:javascript
  $(document).ready(function() {
    var $tgt_parent = $("input.check-parent");
    var $tgt_child = $("input.check-child");

    $tgt_parent.click(function(){
      $(this).parents("div.parent").find('ul li input.check-child').attr('checked', this.checked);
    });

    $tgt_child.click(function(){
      var checkNum = $(this).parents('ul').find('li input.check-child:checked').length;
      var listNum = $(this).parents('ul').find('li').length;

      if(checkNum < listNum){
        $(this).parents("div.parent").find("input.check-parent:checkbox").removeAttr('checked');
      }

      if(checkNum == listNum){
        $(this).parents("div.parent").find("input.check-parent:checkbox").attr('checked','checked');
      }
    });
  });

  $(document).ready(function() {
    var checkNum = $("input.check-child:checked").parents('ul').find('li input.check-child:checked').length;
    var listNum = $("input.check-child:checked").parents('ul').find('li').length;
    var parentList = document.querySelectorAll('div.parent');
    var parentNum  = parentList.length;
    for (var i = 0; i < parentNum; i++) {
      var childList = parentList[i].querySelectorAll('li input.check-child');
      var childNum = childList.length;
      var checked = parentList[i].querySelectorAll('li input.check-child:checked');
      var checkedNum = checked.length;

      if(childNum == checkedNum && childNum > 0){
        $(parentList[i]).find("input.check-parent:checkbox").attr('checked','checked');
      }
    }
  });
