.block
  .content
    %h2.title Troch
    .inner
      = link_to @cron_status, :controller => 'settings', :action => 'watch_interval'
      %table.table
        %tr
          %th Site Name
          %th Status
          %th Response Time
          %th Watched Date
        - @watchlogs.each do |watchlog|
          %tr
            %td
              = watchlog.site.name unless watchlog.site.name.nil?
            %td
              = watchlog.status unless watchlog.status.nil?
            %td
              = watchlog.response_time unless watchlog.response_time.nil?
              msec
            %td
              = watchlog.updated_at unless watchlog.updated_at.nil?
- content_for :sidebar, render(:partial => 'sidebar')
