.block
  .content
    .inner
      %p
        = link_to @cron_status, :controller => 'settings', :action => 'watch_interval'
        = @last_log.created_at unless @last_log.blank?

      ドメイン有効期限30日以内
      %table.table
        %tr
          %th Site Name
          %th Domain Expired Date
        - @domain_sites.each do |site|
          %tr
            %td
              = link_to site.name, site_path(site) unless site.name.blank?
            %td
              = site.domain_expired unless site.domain_expired.blank?

      SSL有効期限30日以内
      %table.table
        %tr
          %th Site Name
          %th SSL Expired Date
        - @ssl_sites.each do |site|
          %tr
            %td
              = link_to site.name, site_path(site) unless site.name.blank?
            %td
              = site.ssl_expired unless site.ssl_expired.blank?

      最近のログ
      %table.table
        %tr
          %th Site Name
          %th Status
          %th Response Time
          %th Watched Date
        - @watchlogs.each do |watchlog|
          %tr
            %td
              = link_to watchlog.site.name, site_path(watchlog.site) unless watchlog.site.blank?
            %td
              = watchlog.status unless watchlog.status.blank?
            %td
              = watchlog.response_time unless watchlog.response_time.blank?
              msec
            %td
              = watchlog.updated_at unless watchlog.updated_at.blank?
- content_for :sidebar, render(:partial => 'sidebar')
