%h3 サマリー
%table.table
  %tr
    %th ステータス
    %th 最終チェック日時
    %th 異常
    %th メンテナンス
    %th 監視対象サイト
  %tr
    %td= link_to(@cron_status, :controller => 'settings', :action => 'watch_on_off')
    %td= @last_log.created_at.strftime("%Y/%m/%d %H:%M:%S")  unless @last_log.blank?
    %td= link_to(@error_num, alert_path)
    %td= link_to(@maintenance_num, site_path)
    %td= link_to(@sites.length, site_path)

%h3 ドメイン有効期限30日以内
%table#domainlist
  %tr
    %th ドメイン
    %th 有効期限
  - @domain_sites.each do |site|
    %tr
      %td
        = link_to site.domain_url, site_path(site) unless site.domain_url.blank?
      %td
        = site.domain_expired.strftime("%Y/%m/%d") unless site.domain_expired.blank?

%h3 SSL有効期限30日以内
%table.table
  %tr
    %th ドメイン
    %th SSL有効期限
    %th 備考
  - @ssl_sites.each do |site|
    %tr
      %td
        = link_to site.name, site_path(site) unless site.name.blank?
      %td
        = site.ssl_expired.strftime("%Y/%m/%d") unless site.ssl_expired.blank?
      %td
        = site.note unless site.note.blank?
