%h3 ログ一覧 （最新の200件を表示）
%br
・
=link_to '異常サイト（最新）', alert_path
%br
%br
%table#logs_table
  %thead
    %tr
      %th 日時
      %th サイト名
      %th ステータス
      %th レスポンスタイム
  %tbody
    - @watch_logs.each do |watch_log|
      %tr
        %td= watch_log.created_at.strftime("%Y/%m/%d %H:%M:%S") unless watch_log.blank?
        %td= link_to watch_log.site.name, site_path(watch_log.site) unless watch_log.site.name.blank?
        %td= watch_log.status unless watch_log.status.blank?
        %td= "#{watch_log.response_time} msec" unless watch_log.response_time.blank?
