= @user_email + 'さん'
= "ステータス: #{@cron_status}"

＜ドメイン期限30日以内＞
- @domain_sites.each_with_index do |site, i|
  = "#{i+1} : #{site.name.force_encoding("UTF-8")}"

＜SSL期限30日以内＞
- @ssl_sites.each_with_index do |site, i|
  = "#{i+1} : #{site.name.force_encoding("UTF-8")}"
