= @user_email + 'さん'

= "Date   : #{@date}"
= "Status : #{@status}"
= "Site   : #{@site_name}"
= "URL    : #{@site_url}"
= "Diff   : " unless @diff_html.blank?
= "#{@diff_html}" unless @diff_html.blank?

上記のサイトを確認してください。
