= @user.email + 'さん'

= "Date   : #{@date.force_encoding("UTF-8")}"
= "Status : #{@status.force_encoding("UTF-8")}"
= "Site   : #{@site.name.force_encoding("UTF-8")}"
= "URL    : #{@site.url.force_encoding("UTF-8")}"
= "Diff   : " unless @diff_html.blank?
= "#{@diff_html.encode("UTF-16BE", :invalid => :replace, :undef => :replace, :replace => '?').encode("UTF-8")}" unless @diff_html.blank?

上記のサイトを確認してください。
