%table
  %tr
    %th
      = f.label :name, 'サイト名'
    %td
      = f.text_field :name
  %tr
    %th
      = f.label :url, 'URL（チェック先）'
    %td
      = f.text_field :url
      %span.description 例：http://examle.com
  %tr
    %th{:rowspan => "3"}
      = f.label :watch_method, 'チェック方法'
    %td
      = f.radio_button :watch_method, 'html_body',  :checked => (@site.watch_method == 'html_body' || @site.watch_method.nil?)
      HTML監視
  %tr
    %td
      = f.radio_button :watch_method, 'html_title', :checked => (@site.watch_method == 'html_title')
      TITLEタグ監視
  %tr
    %td
      = f.radio_button :watch_method, 'html_keyword', :checked => (@site.watch_method == 'html_keyword')
      キーワード監視
      %br= f.text_field :keyword
  %tr
    %th
      = f.label :domain_url, 'ドメイン名'
    %td
      = f.text_field :domain_url
      %span.description 例：example.com
  %tr
    %th
      = f.label :ssl_url, 'SSLドメイン名'
    %td
      = f.text_field :ssl_url
      %span.description 例：ssl.example.com
  %tr
    %th
      = f.label :group_id, 'グループ'
    %td
      = f.collection_select(:group_id, Group.find(:all), :id, :name, :include_blank => true)
  %tr
    %th
      = f.label :note, '備考'
    %td
      = f.text_area :note, :size => '40x5'

.wat-cf
  %button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png")
    保存
  = link_to 'キャンセル', sites_path
