%table
  %tr
    %th
      = f.label :name, 'サイト名'
    %td
      = f.text_field :name
  %tr
    %th
      = f.label :url, "URL（チェック先）"
    %td
      = f.text_field :url, :value => (@site.url || "http://")
      %span.description 例：http://examle.com
      %br
      %span.description (URLが入力されていない場合はメンテナンスモードになります。)
  %tr
    %th{:rowspan => "3"}
      = f.label :watch_method, 'チェック方法'
    %td
      = f.radio_button :watch_method, 'html_body',  :checked => (@site.watch_method == 'html_body' || @site.watch_method.nil?)
      HTML監視&nbsp;&nbsp;&nbsp;
      %button{:type => "button", :class => "show_hide"}
        オプション
      %p.option
        無視するHTMLタグ (カンマ区切りで複数設定可能です。)
        %br
        = f.text_field :cut_tag
        %br
        %span.description= '例：<p class="ads">の場合 p.ads'
        %br
        %span.description= '例：<div id="sidebar">の場合 div#sidebar'
  %tr
    %td
      = f.radio_button :watch_method, 'html_title', :checked => (@site.watch_method == 'html_title')
      TITLEタグ監視
  %tr
    %td
      = f.radio_button :watch_method, 'html_keyword', :checked => (@site.watch_method == 'html_keyword')
      キーワード監視
      %br
      キーワード:
      =f.text_field :keyword
  %tr
    %th
      = f.label :domain_url, 'ドメイン名'
    %td
      = f.text_field :domain_url
      %span.description 例：example.com
  %tr
    %th
      = f.label :ssl_url, 'SSLドメイン名'
    %td
      = f.text_field :ssl_url
      %span.description 例：ssl.example.com
  %tr
    %th
      = f.label :group_id, 'グループ'
    %td
      = f.collection_select(:group_id, Group.find(:all), :id, :name, :include_blank => true)
  %tr
    %th
      = f.label :note, '備考'
    %td
      = f.text_area :note, :size => '40x5'

.wat-cf
  %button{:type => "submit"}
    = image_tag("devise/icons/tick.png")
    保存
  = link_to 'キャンセル', sites_path

:javascript
  $(function(){
    $("p.option").css("display", "none");

    //$("p.show_hide").click(function(){
    //  $("p.option").toggle();
    //});

    $("button.show_hide").click(function(){
      $(function(){
        $(this).toggleClass('on');
        $("p.option").toggle('fast');
      });
    });
  });
