%h3 監視サイト
%br
%table#sites_table
  %thead
    %tr
      %th ID
      %th サイト名
      %th ステータス
      %th ドメイン期限
      %th SSL期限
      %th 監視方法
      %th 更新日
      %th 最終チェック日時
      %th グループ
      %th 詳細
      %th 編集
      %th 削除
  %tbody
    - @sites.each do |site|
      %tr
        %td= site.id
        %td= link_to site.name, site_path(site)
        %td= site.watch_logs.last.status unless site.watch_logs.last.blank?
        %td= site.domain_expired.strftime("%Y/%m/%d") unless site.domain_expired.blank?
        %td= site.ssl_expired.strftime("%Y/%m/%d") unless site.ssl_expired.blank?
        %td= site.watch_method
        %td= site.updated_at.strftime("%Y/%m/%d")
        %td= site.watch_logs.last.created_at.strftime("%Y/%m/%d %H:%M:%S") unless site.watch_logs.last.blank?
        %td= site.group.name unless site.group.blank?
        %td= link_to('詳細', site_path(site))
        %td= link_to('編集', edit_site_path(site))
        %td= link_to('削除', site_path(site), :method => "delete")
