.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", sites_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_site_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Sites
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.site.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th
            = t("web-app-theme.watch_method", :default => "METHOD")
          %th
            = t("web-app-theme.url", :default => "URL")
          %th
            = t("web-app-theme.domain_url", :default => "DOMAIN")
          %th.last
            = t("web-app-theme.ssl_url", :default => "SSL_URL")
        - @sites.each do |site|
          %tr{:class => cycle("odd", "even")}
            %td
              = site.id
            %td
              = link_to site.name, site_path(site)
            %td
              = site.watch_method
            %td
              = site.url
            %td
              = site.domain_url
            %td
              = site.ssl_url
      .actions-bar.wat-cf
        .actions
