%h2 監視サイト
%br
・
= link_to '新規サイトの登録', new_site_path
%br
%br
%table#sites_table
  %thead
    %tr
      %th ID
      %th サイト名
      %th ステータス
      %th ドメイン期限
      %th SSL期限
      %th PageRank(ドメイン)
      %th レスポンス
      %th 監視方法
      %th 更新日
      %th 最終チェック日時
      %th グループ
      %th 詳細
      %th 編集
  %tbody
    - @sites.each do |site|
      %tr
        %td= site.id
        %td= link_to site.name, site_path(site)
        %td= site.watch_logs.last.status unless site.watch_logs.last.blank?
        %td= site.domain_expired.strftime("%Y/%m/%d") unless site.domain_expired.blank?
        %td= site.ssl_expired.strftime("%Y/%m/%d") unless site.ssl_expired.blank?
        %td= (site.page_rank.blank? || site.page_rank == -1) ? "-無し-" : site.page_rank
        %td{:align=> "right"}= "#{site.watch_logs.last.response_time.to_s.rjust(5, "0")} msec" unless site.watch_logs.blank?
        %td
          = "HTML監視" if site.watch_method == 'html_body'
          = "TITLEタグ監視" if site.watch_method == 'html_title'
          = "キーワード監視: " if site.watch_method == 'html_keyword'
          = site.keyword if site.watch_method == 'html_keyword' && !site.keyword.blank?
        %td= site.updated_at.strftime("%Y/%m/%d")
        %td= site.watch_logs.last.created_at.strftime("%Y/%m/%d %H:%M:%S") unless site.watch_logs.last.blank?
        %td= link_to(site.group.name, group_path(site.group)) unless site.group.blank?
        %td= link_to('詳細', site_path(site))
        %td= link_to('編集', edit_site_path(site))
