%h2
  = @site.name
%table.confirm
  %tr
    %th 現在のステータス
    %td= @site.watch_logs.last.status unless @site.watch_logs.last.blank?
  %tr
    %th 最終チェック日時
    %td= @site.watch_logs.last.created_at.strftime("%Y/%m/%d %H:%M:%S") unless @site.watch_logs.last.blank?
  %tr
    %th 登録日時
    %td= @site.created_at.strftime("%Y/%m/%d %H:%M:%S") unless @site.created_at.blank?
  %tr
    %th レスポンスタイム
    %td= "#{@site.watch_logs.last.response_time} msec" unless @site.watch_logs.blank?
  %tr
    %th URL(チェック先)
    %td
      =link_to @site.url, @site.url unless @site.url.blank? || @site.url == "http://"
  %tr
    %th 監視方法
    %td
      - if @site.url.blank? || @site.url == "http://"
        = "(メンテナンス中)"
      - else
        = "HTML監視" if @site.watch_method == 'html_body'
        = "(無視するHTMLタグ) #{@site.cut_tag}" if @site.watch_method == 'html_body' && !@site.cut_tag.blank?
        = "TITLEタグ監視" if @site.watch_method == 'html_title'
        = "キーワード監視: " if @site.watch_method == 'html_keyword'
        = @site.keyword if @site.watch_method == 'html_keyword' && !@site.keyword.blank?
  %tr
    - if !@site.url.blank? && !(@site.url == "http://") && !(@site.watch_logs.blank?) && @site.watch_method == 'html_body'
      %th サイトのHTML
      %td
        %button{:type => "button", :class => "show_hide"}
          詳細表示
        %p.html_content
          - Base64.decode64(@site.watch_logs.last.content).to_s.force_encoding("utf-8").split(/\r?\n/).each do |content|
            = content
            %br
  %tr
    %th ドメイン名
    %td= @site.domain_url
  %tr
    %th ドメイン有効期限
    %td= @site.domain_expired
  %tr
    %th SSLドメイン名
    %td= @site.ssl_url
  %tr
    %th SSL有効期限
    %td= @site.ssl_expired
  %tr
    %th PageRank(ドメイン)
    %td= (@site.page_rank.blank? || @site.page_rank == -1) ? "-無し-" : @site.page_rank
  %tr
    %th グループ
    %td= link_to(@site.group.name, site_path(@site.group)) unless @site.group.blank?
  %tr
    %th 備考
    %td= @site.note

.wat-cf
  = link_to image_tag("devise/icons/application_edit.png") + " 編集", edit_site_path(@site), :class => "button"
  = link_to image_tag("devise/icons/cross.png") + " 削除", site_path(@site), :method => "delete", :class => "button", :confirm => "削除してよろしいですか？"
%br
= link_to '戻る', sites_path

:javascript
  $(function(){
      $("p.html_content").css("display", "none");

      $("button.show_hide").click(function(){
        $("p.html_content").toggle('fast');
      });
  });
