%table.confirm
  %tr
    %td サイト名
    %td= @site.name
  %tr
    %td ステータス
    %td= @site.watch_logs.last.status unless @site.watch_logs.last.blank?
  %tr
    %td URL(チェック先)
    %td= @site.url
  %tr
    %td 監視方法
    %td= @site.watch_method "(キーワード): #{@site.keyword}" if @site.watch_method == 'html_keyword' && !@site.keyword.blank?
  %tr
    %td ドメイン名
    %td= @site.domain_url
  %tr
    %td ドメイン有効期限
    %td= @site.domain_expired
  %tr
    %td SSLドメイン名
    %td= @site.ssl_url
  %tr
    %td SSL有効期限
    %td= @site.ssl_expired
  %tr
    %td グループ
    %td= @site.group.name unless @site.group.blank?
  %tr
    %td 備考
    %td= @site.note

.wat-cf
  = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_site_path(@site), :class => "button"
  = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), site_path(@site), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
