!!!
%html
  %head
    %title Troch
    = stylesheet_link_tag 'adminiziolite/reset.css', :media => 'screen,projection'
    = stylesheet_link_tag 'adminiziolite/main.css', :media => 'screen,projection'
    = stylesheet_link_tag 'adminiziolite/2col.css', :media => 'screen,projection', :title => '2col'
    = stylesheet_link_tag 'adminiziolite/style.css', :media => 'screen, projection'
    = stylesheet_link_tag 'adminiziolite/mystyle.css', :media => 'screen, projection'
    = stylesheet_link_tag 'jquery.dataTables.css', :media => 'screen, projection'
    = javascript_include_tag :application
    = javascript_include_tag 'jquery.dataTables.js'
    = csrf_meta_tag
  %body
    #main
      = render :partial => 'shared/header'
      #cols.box
        = render :partial => 'shared/sidebar'
        #content.box
          %div{:"data-pjax-container" => "true"}
            .flash
              - flash.each do |type, message|
                %div{ :class => "message #{type}" }
                  %p= message
            = yield
      = render :partial => 'shared/footer'
