!!!
%html
  %head
    %title Troch
    = stylesheet_link_tag 'adminiziolite_css/reset.css', :media => 'screen,projection'
    = stylesheet_link_tag 'adminiziolite_css/main.css', :media => 'screen,projection'
    = stylesheet_link_tag 'adminiziolite_css/2col.css', :media => 'screen,projection', :title => '2col'
    = stylesheet_link_tag 'adminiziolite_css/style.css', :media => 'screen, projection'
    = stylesheet_link_tag 'adminiziolite_css/mystyle.css', :media => 'screen, projection'
    = stylesheet_link_tag 'datatables/table_jui.css', :media => 'screen, projection'
    = javascript_include_tag :application
    = javascript_include_tag 'datatables/jquery.dataTables.js'
    = csrf_meta_tag
  %body
    #main
      = render :partial => 'shared/header'
      #cols.box
        = render :partial => 'shared/sidebar'
        #content.box
          = yield
      = render :partial => 'shared/footer'
